[submodule "libs/stoej-juce-lib"]
	path = libs/stoej-juce-lib
	url = https://github.com/Stoejmaskiner/stoej-juce-lib.git
[submodule "libs/stoej-assets"]
	path = libs/stoej-assets
	url = https://github.com/Stoejmaskiner/stoej-assets.git
[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
